<section class="my-2">
  <h2 class="text-main my-3 font-extrabold text-4xl pb-2" >Popular Products:</h2>
  <div class="grid lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-7">
    @for (product of productsList.slice(0,12); track product.id) {
    <div
      class=" product group "
    >
      <img class=" object-cover" [src]="product.imageCover" alt="product" />

     <div class="p-3">
        <h3 class="text-sm text-main" >{{ product.category.name }}</h3>
        <h4>{{ product.title.split(" ",3).join(" ") }}</h4>
  
        <div class="flex justify-between">
          <span>{{ product.price }} EGP</span>
          <div class="flex gap-1">
            <span class=" "
              ><i class="bg-gradient-to-l text-rating fa fa-star"></i
            ></span>
            <span class="text-gray-400">{{ product.ratingsAverage }}</span>
          </div>
        </div>
     </div>
     <div class="p-3 group-hover:translate-y-0  translate-y-[120%] transition-all duration-700">
        <button class="btn-main w-full">Add to Cart</button>
     </div>

    </div>
    }
  </div>
</section>
